.container-fluid{
   
    background-color: rgb(160, 20, 20);
}
#h2-logo{
    color: rgb(243, 239, 7);
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    
    
}


#h2-link{
    color: rgb(243, 239, 7);
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: none !important;
}

.footer-ul{
    margin-top:0.5cm;
    text-align: center;
    
    color:yellow;
}
.ul-footer{
    margin-left:8.5cm;
}
.nav-link{
    color:white;
    border-spacing: 20px;
}
.nav{
    
    margin-left: 4cm;
    font-size: 20px;
   
  
}
.nav-link:hover{
    background-color: white;
}
.nav-link:active{
    background-color: yellow;
}
.lienhe{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
   
    color:black;
    text-align: left;
}
.lienhe:hover{
    text-decoration: none;
    color:black;
}
.imglienhe{
    margin-left:25cm;
}
.dangnhap{
    
    color:green;
    font-size:20px;
    margin-left:50px;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid red;
    border-radius: 20%;
    
}
.dangky
{
    background-color: aqua !important;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(94, 6, 145);
    font-size:20px;
    

}

.content-main{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-top:none;
    border-left: solid 1px;
    border-right: solid 1px;
    
    


}
.head-content{
    font-size: 1cm;
    font-weight: bold;

}
.main-content{
    font-size: 30px;
}
.footer-content{
    font-size: 30px;
}
.image-main{
    border-top:1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.image-contact{
    border-top:1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.contact-main{
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-left:2cm;
}
.contact-ul{
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    font-size:20px;


}
#labelchovay{
    margin-top:1cm;
    text-align: center;
    border:solid 1px  rgb(160, 20, 20);
    background-color:  rgb(160, 20, 20);
    color:white;
    margin-left:2cm;
    margin-right:2cm;
        
}
.nhantien{
    width: 30px;
    height: 30px;
    list-style-type: none;
   
    
    
    
}
.ngayvay{
    width: 30px;
    height: 30px;
    list-style-type: none;
   
    
    
    
}

label{
    
        display: block;
        position: relative;
        font-size: 16px;
        line-height: 30px;
        padding: 5px 10px 5px 40px;
        margin: 5px auto;
        height: 30px;
        z-index: 9;
        cursor: pointer;
        border-color:blue;
      
}
.tabledangky{
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(151, 11, 11);

    
   
}
.note_dangky{
    color:white;
    font-size:25px;
    text-align: center;
    
    border:solid 2px rgb(143, 8, 8);
    background-color:rgb(143, 8, 8);
    margin-left: 2cm;
    margin-right: 2cm;
}
.sotiencanvay{
    color:white;
    font-size:25px;
    text-align: center;
    
    border:solid 2px rgb(143, 8, 8);
    background-color:rgb(143, 8, 8);
    margin-left: 2cm;
    margin-right: 2cm;
}

input[type=text],[type=password] {
    width: 20cm;
    padding: 5px;
    margin-left:4cm;
    box-sizing: border-box;
    border:2px solid green;
    border-radius:4px;
    display:block;


  }
  input[type=date]{
      width: 5cm;
      border:2px solid green;
      border-radius:4px;
      margin-left:5cm;


  }
  .tieptuc{
      margin-left:15cm;
      margin-right: 13cm;
      border:1px solid red;
     
      background-color: rgb(155, 10, 10);
      font-size:35px;
        text-decoration: none;
        
  }
  .tieptuc a{
    color:white;
  }
  .tieptuc a:hover{
      color:white;
      text-decoration:none;
  }
  